.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.address {
    border: 1px solid black;
    padding: 10px;
    border-radius: 7px;
}

.header {
    background-color: #B8CFFA;
}

.bg {
    background-color: #f8f9fa;
}

.copy {
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;

    img {

        height: 21px;
    }

    &:hover {
        background-color: #B8CFFA;
    }
}

.notification {
    cursor: pointer
}

:host ::ng-deep .p-button {
    color: black;
    background-color: #B8CFFA;
    border-color: #B8CFFA;
    border-radius: 4px;
}