.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.address {
    border: 1px solid black;
    padding: 10px;
    border-radius: 7px;
}

.header {
    background-color: #f0f8ff;
}

.bg {
    background-color: #f8f9fa;
}

.cp{
    cursor: pointer;
}